<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>


    <appender name="GELF" class="de.appelgriepsch.logback.GelfAppender">
        <server>127.0.0.1</server>
        <port>12201</port>
        <protocol>UDP</protocol>
        <includeSource>true</includeSource>
        <includeMDC>true</includeMDC>
        <queueSize>512</queueSize>
        <connectTimeout>1000</connectTimeout>
        <reconnectDelay>500</reconnectDelay>

        <additionalFields>app=cdp</additionalFields>

        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </layout>
    </appender>


    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="GELF" />
    </root>
</configuration>
